{% extends 'dashboard.html'%}   
{% load static%}
{% block title %}Danson Solution | Dashboard{% endblock %}

{% block content %}  
   
   <!-- Dashboard Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard-box">
                    <h3>Article</h3>
                    <p>Create and manage articles here.</p>
                    <a href="{% url 'article'%}">Go to Articles</a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="dashboard-box">
                    <h3>Quiz</h3>
                    <p>Create and manage quizzes here.</p>
                    <a href="{% url 'quiz'%}">Go to Quizzes</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-box">
                    <h3>H5P</h3>
                    <p>Create and manage H5P content here.</p>
                    <a href="#">Go to H5P</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}