<nav>
    <ul class="navbar-items">
        <li><a href="{{ url_for('index') }}">Dashboard</a></li>
        {% for department in departments %}
            {% if department.name == 'H5P' %}
                <li class="nav-item-dropdown">
                    <a href="#" class="dropdown-trigger">H5P</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-item">
                            <a href="h5p_generation">H5P Generation</a>
                        </li>
                        <li class="dropdown-menu-item">
                            <a href="h5p_audio">H5p Audio</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item"><a href="{{ url_for('department', department_name=department.name) }}">{{ department.name }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="nav-item"><a href="{{ url_for('logout') }}">Log Out</a></li>
        <li class="nav-item user-name">{{ current_user.full_name }}</li>
    </ul>
</nav>

<style>
    .nav-item-dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9d7; /* Light yellow */
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: #850f8d; /* Dark purple */
        padding: 10px 0;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .nav-item {
        display: inline-block;
        padding: 10px 20px;
    }

    .nav-item a {
        color: #fff;
        text-decoration: none;
    }

    .nav-item a:hover {
        background-color: #c738bd; /* Purple on hover */
    }

    .nav-item-dropdown {
        position: relative;
    }

    .dropdown-trigger::after {
        content: "›";
        position: absolute;
        color: #ED3E44;
        font-size: 24px;
        font-weight: bold;
        transform: rotate(90deg);
        top: 0;
        right: -15px;
    }

    .dropdown-menu {
        background-color: #ED3E44;
        text-align: right;
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease;
        width: 120px; /* Adjusted width */
    }

    .dropdown-menu-item {
        padding: 10px;
    }

    .dropdown-menu-item a {
        color: #fff;
        text-decoration: none;
    }

    .dropdown-menu-item:hover {
        background-color: darken(#ED3E44, 5%);
    }

    .user-name {
        color: #fff; /* White color */
        float: right; /* Move to the right side */
        margin-right: 20px; /* Add some spacing */
    }
</style>
